.m-auto {
  margin: auto;
}
.mb-sm {
  margin-bottom: 1rem;
}
.mb-md {
  margin-bottom: 2rem;
}
.mb-lg {
  margin-bottom: 5rem;
}
.mb-xl {
  margin-bottom: 10rem;
  @include respond(md) {
    margin-bottom: 5rem;
  }
}

.ms-auto {
  margin-inline-start: auto;
}

.text-small {
  font-size: 1.4rem;
}

.text-big {
  font-size: 1.8rem;
}
.w-100 {
  max-width: 100%;
}
.w-90 {
  max-width: 90%;
}
.w-85 {
  max-width: 85%;
}
.w-80 {
  max-width: 80%;
}
.w-75 {
  max-width: 75%;
}
.w-70 {
  max-width: 70%;
}
.w-65 {
  max-width: 65%;
}
.w-60 {
  max-width: 60%;
}
.w-50 {
  max-width: 50%;
}
.w-30 {
  max-width: 30%;
}
.w-25 {
  max-width: 25%;
}

.fs-lg {
  font-size: 2rem !important;
}
.fs-md {
  font-size: 1.5rem;
}
.fs-sm {
  font-size: 1rem;
}

.w-100,
.w-90,
.w-85,
.w-80,
.w-75,
.w-65,
.w-60,
.w-50,
.w-30,
.w-25 {
  @include respond(sm) {
    max-width: 100%;
  }
}

.white {
  color: $white !important;
}

.dark {
  color: $dark;
}

.t-upper {
  text-transform: uppercase;
}

.t-cap {
  text-transform: capitalize;
}

.t-small {
  text-transform: lowercase;
}

.t-left {
  text-align: start;
}

.t-right {
  text-align: end;
}

.t-center {
  text-align: center;
}

.t-first-upper {
  &::first-letter {
    text-transform: uppercase;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.d-inline-block {
  display: inline-block;
}

.letter-space-lg {
  letter-spacing: 1.5px;
}

.dashed-white {
  border-bottom: 2px dashed $white !important;
}
